.contact-data
  color: black
  display: flex
  flex-direction: column
  width: 100%

.contact-data__form
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
